@media only screen and (max-width: 576px) {

    /* HEADER */
    #header .menu {
        display: none;
    }

    #header .sidebar-top {
        margin-left: 170px;
    }

    #header .sidebar-top a:nth-child(1) span {
        right: -16px;
        top: -16px;
    }

    /* SILDER */

    .slider-item h2 {
        top: 35%;
        left: 5%;
        font-size: 1rem;
        letter-spacing: 3px;
    }

    #slider, .slider-item {
        height: auto;
    }

    .slider-item h2 small {
        font-size: 1rem;
        letter-spacing: 3px;
    }

    /* BEST SELLER */ 

    #best-seller {
        margin-top: 20px;
    }

    ul.product-list li.introduce {
        width: 100%;
        align-items: center;
    }

    ul.product-list li p {
        max-width: 80%;
        text-align: center;
        font-size: .8rem;
        margin-top: -5px;
    }

    ul.product-list li {
        width: 50%;
    }

    ul.product-list li img {
        max-width: 100%;
    }

    ul.product-list li {
        width: 46%;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    ul.product-list div.buy {
        top: 0px;
        right: 1px;
    }

    /* SHIPPING */
    #shipping {
        margin-top: 20px;
        padding: 20px 0px;
    }

    #shipping ul {
        flex-wrap: wrap;
    }

    #shipping ul li {
        width: 50%;
        min-height: 100px;
    }

    #shipping ul li:nth-child(3) img {
        margin-bottom: 15px;
    }
 
    /* PROMOTION */
    #promotion ul {
        flex-direction: column;
    }

    #promotion ul li {
        width: 100%;
    }

    /* DISCOUNT vs BRANDS */
    #brands {
        flex-direction: column;
    }

    .discount, .brands {
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    #brands .discount form button {
        min-width: 300px;
        margin-top: 10px;
    }

    #brands .brands {
        width: 100%;
    }

    .brands ul {
        flex-wrap: wrap;
    }

    .brands ul li {
        width: 50%;
        min-height: 100px;
    }

    #brands .brands ul li:nth-child(2) a {
        margin-left: 40px;
    }

    #brands .brands ul li:nth-child(4) a {
        margin-left: 40px;
    }

    /* FOOTER */
    footer {
        flex-direction: column;
    }

    footer .f-left, .f-right {
        width: 100% !important;
    }

    .f-left {
        height: 50px;
        line-height: 50px;
    }    

    .f-right ul {
        margin-left: 65px;
    }
}
/* @media only screen and (max-width: 996px) {
    
}

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 360px) {

} */